{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete user: {{user.name}}? </h2>
<h2> Warning, this will delete your account and log you out.</h2>

<form action="#" method = 'post'>

	<button class="btn btn-default delete" id="submit" name="submit" value="delete">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	<button class="btn btn-default delete" id="cancel" name="submit" value="cancel">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>

</form>

{% endblock %}